.api-header {
  display: flex;
  background: black;
  color: white;
  padding: 1em;
  align-items: center;

  .api-header__module {
    display: flex;
    align-items: center;
  }

  .api-header__site-image {
    height: 3em;
  }

  .api-header__doc-coverage {
    color: lightgray;
  }

  .api-header__search {
    flex: 1 auto;
    text-align: center;
  }

  .api-header__search-input {
    width: 100%;
    min-width: 25%;
    max-width: 50%;
  }
}
