.api-header {
  display: flex;
  background: black;
  color: white;
  padding: 1em;
  align-items: center;

  .api-header__module {
    display: flex;
    align-items: center;

    img {
      height: 2em;
    }
  }

  .api-header__doc-coverage {
    color: lightgray;
    margin-left: .5em;
  }

  .api-header__external-link {
    color: lightgray;
    margin-top: .25em;
  }

  .api-header__github-icon {
    height: 1.25em;
  }

  .api-header__search {
    flex: 1 auto;
    text-align: center;
  }

  .api-header__search-input {
    width: 100%;
    min-width: 25%;
    max-width: 50%;
  }
}
