<header class="api-header">
    <div class="api-header__module">
        <img src="{{path_to_root}}img/{{module_name}}.png"/>

        <span class="api-header__doc-coverage">({{doc_coverage}}% Documented)</span>
    </div>

    <div class="api-header__search">
        <form class="api-header__search-form"
              role="search"
              action="{{path_to_root}}search.json">
            <input class="api-header__search-input"
                   type="text"
                   placeholder="Search docs"
                   data-typeahead/>
        </form>
    </div>

    <a class="api-header__external-link"
       href="{{github_url}}"
       target="_blank">
        <img class="api-header__github-icon header-icon"
             src="{{path_to_root}}img/gh.png"/>View on GitHub
    </a>
</header>
