name: Shared Build DocC docs and Deploy
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  workflow_call:
    inputs:
      package_name:
        type: string
        required: false
        description: "The name of the package to build docs for."
      modules:
        type: string
        required: true
        description: "The modules in the package to build docs for."
      pathsToInvalidate:
        type: string
        required: false
        description: "The paths to invalidate in CloudFront, e.g. '/vapor/* /xctvapor/*'."
  workflow_dispatch:
    inputs:
      repository:
        type: string
        required: true
        description: "The repository of the package to build docs for."
      package_name:
        type: string
        required: true
        description: "The name of the package to build docs for."
      modules:
        type: string
        required: true
        description: "The modules in the package to build docs for."
      pathsToInvalidate:
        type: string
        required: true
        description: "The paths to invalidate in CloudFront, e.g. '/vapor/* /xctvapor/*'."
env:
  INPUT_REPOSITORY: ${{ inputs.repository || github.repository }}
  INPUT_PACKAGE_NAME: ${{ inputs.package_name }}
  INPUT_MODULES: ${{ inputs.modules }}
  INPUT_INVALIDATE_PATHS: ${{ inputs.pathsToInvalidate }}

jobs:
  build-docs:
    runs-on: ubuntu-latest
    permissions: { id-token: write, contents: read }
    env: { AWS_PAGER: '' }
    steps:
      - name: Check out docc-render fork
        uses: actions/checkout@v6
        with:
          repository: vapor/swift-docc-render
          path: swift-docc-render
      - name: Setup node 20
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Build swift-docc-render
        working-directory: swift-docc-render
        run: npm ci && npm run build
      - name: Check out repo to build docs for
        uses: actions/checkout@v6
        with:
          repository: ${{ inputs.repository || github.repository }}
          path: build-repo
          fetch-depth: 0
      - name: Install latest Swift
        uses: vapor/swiftly-action@v0.2
        with: { toolchain: latest }
      - name: Download files
        run: | 
          curl -sL \
            "https://raw.githubusercontent.com/vapor/api-docs/main/generate-package-api-docs.swift" \
              -o build-repo/generate-package-api-docs.swift \
            "https://raw.githubusercontent.com/vapor/api-docs/main/theme-settings.json" \
              -o build-repo/theme-settings.json
      - name: Build docs
        working-directory: build-repo
        env:
          DOCC_HTML_DIR: '../swift-docc-render/dist'
        run: 'swift generate-package-api-docs.swift "${INPUT_PACKAGE_NAME}" ${INPUT_MODULES}'
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.OIDC_ROLE_ARN }}
          aws-region: ${{ vars.OIDC_ROLE_REGION }}
      - name: Deploy to S3
        env:
          S3_BUCKET_URL: ${{ secrets.VAPOR_API_DOCS_S3_BUCKET_URL }}
        run: |
          aws s3 sync ./build-repo/public "${S3_BUCKET_URL}" --no-progress --acl public-read
      - name: Invalidate CloudFront
        env:
          DISTRIBUTION_ID: ${{ secrets.VAPOR_API_DOCS_DISTRIBUTION_ID }}
        run: |
          aws cloudfront create-invalidation --distribution-id "${DISTRIBUTION_ID}" --paths ${INPUT_INVALIDATE_PATHS}
